<div class="container">
  <h1 class="text-center" id="dashboard_title">Dashboard</h1>
  <div class = "d-flex justify-content-between three_dashboard_cards">
    <div class="dashboard_card" id="information_card">
      <h2>My Information</h2>
        <%= image_tag "https://ca.slack-edge.com/T02NE0241-U02G0UEGWHH-c3394b1963ed-512"%>
        <table class="table" id="information_table">
          <tr>
            <th>Name</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>Profile's creation</th>
            <td><%= @user.created_at %></td>
          </tr>
          <tr>
            <th>Last update</th>
            <td><%= @user.updated_at %></td>
          </tr>
        </table>
        <div class="text-center">
          <button class="dashboard_button"><%= link_to "Update Profile", edit_user_registration_path%></button>
        </div>
    </div>

    <div>
      <div class="dashboard_card" id="reservation_card">
        <h2>My Reservations (<%= @user.reservations.count %>)</h2>
          <% if @user.reservations.exists? %>
            <table class="table">
              <tr>
                <th>Animal</th>
                <th>Species</th>
                <th>Animal's address</th>
                <th>Your Address</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>View Animal</th>
              </tr>

              <% @user.reservations.each do |reservation| %>
                <tr>
                  <td><%= Animal.find_by_id(reservation.animal_id).name %></td>
                  <td><%= Animal.find_by_id(reservation.animal_id).species %></td>
                  <td><%= Animal.find_by_id(reservation.animal_id).address %></td>
                  <td><%= reservation.address %></td>
                  <td><%= reservation.start_date %></td>
                  <td><%= reservation.end_date %></td>
                  <td><%= reservation.status %></td>
                  <td>
                    <%= link_to animal_path(Animal.find_by_id(reservation.animal_id)) do %>
                      <i class="far fa-eye"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>

            <button class="dashboard_button"><%= link_to "Rent another animal !", animals_path %></button>

          <% else %>
            <p>You have no reservation for the moment.</p>
            <button class="dashboard_button"><%= link_to "Look for animals to rent", animals_path %></button>
          <% end %>
      </div>


      <div class="dashboard_card">
        <h2>My Animals (<%= @user.animals.count %>)</h2>
          <% if @user.animals.exists? %>
            <table class="table">
              <tr>
                <th>Animal</th>
                <th>Species</th>
                <th>Age</th>
                <th>Quality</th>
                <th>Address</th>
              </tr>

              <% @user.animals.each do |animal| %>
                <tr>
                  <td><%= animal.name %></td>
                  <td><%= animal.species %></td>
                  <td><%= animal.age %> year(s) old</td>
                  <td><%= animal.quality %></td>
                  <td><%= animal.address %></td>
                  <td>
                    <%= link_to animal_path(animal.id) do %>
                      <i class="far fa-eye"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_animal_path(animal.id) do %>
                      <i class="fas fa-exchange-alt"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to destroy_path(animal.id, from: "dashboard"), method: :delete do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  </td>
              <% end %>
            </table>

            <button class="dashboard_button"><%= link_to "Rent out another animal !", new_animal_path %></button>

          <% else %>
            <p>You have no animal to rent out for the moment.</p>
            <button class="dashboard_button"><%= link_to "Rent out your animal !", new_animal_path %></button>
          <% end %>
      </div>
    </div>
  </div>
</div>
