
<div class="container">

<!--Yas : START code animated title -->
<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
<h1>This animal is
  <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "cute.", "fierce.", "hardwoker.", "your friend." ]'></span>
</h1>
<h2>One clic away from finding your dream animal</h2>
<!--Yas : END code animated title -->

  <!--Yas : START code searchbar animal ADDRESS + CALENDAR in home view -->
  <div class="box_for_search_bar">
    <div>Rent an animal for any purpose (work, help, cuddle)</div>
    <%= form_tag animals_path, method: :get do %>
    <div class="search_bar">
        <div class= "btn btn-filter">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Name, species, address"
          %>
      </div>
      <div class= "btn btn-filter">
          <%= date_field_tag :start_date,
            params[:start_date],
            class: "form-control",
            placeholder: "start date"
          %>
      </div>
      <div class= "btn btn-filter">
          <%= date_field_tag :end_date,
            params[:end_date],
            class: "form-control",
            placeholder: "end date"
          %>
      </div>
          <%= button_tag(type: "submit", class: "btn btn-default") do %>
            <i class="fas fa-search"></i>
          <% end %>

      <% end %>
    </div>
  </div>
  <!--Yas : END code searchbar animal ADDRESS + CALENDAR in home view -->




  <!-- Inspiration Card Goat-->
  <div class="card-inspiration" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1552066318-4286142ca637?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80)">
    <div>
      <div>
        <p><strong>Adopt a goat</strong></p>
        <p> to mow your lawn </p>
      </div>
      <!--lien vers toutes les goats -->
      <div style = "margin-top: 30px">
        <%= link_to 'Browse goats', animals_path(species: 'Goat'), class: "btn-browse"%>
      </div>
    </div>
  </div>
  <!-- Inspiration Card Watch Dog-->
  <div class="card-inspiration" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1602272414985-91ce16201fa9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1640&q=80)">
    <div>
      <div>
        <p><strong>Feel safe at home</strong></p>
        <p> with a trained watchdog </p>
      </div>
      <!--lien vers toutes les goats -->
      <div style = "margin-top: 30px">
        <%= link_to 'Browse watchdogs', animals_path(species: 'Dog'), class: "btn-browse"%>
      </div>
    </div>
  </div>
  <!-- Inspiration Card Cat-->
  <div class="card-inspiration" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1511044568932-338cba0ad803?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80)">
    <div>
      <div>
        <p><strong>Cuddle with a soft cat</strong></p>
        <p> to relax </p>
      </div>
      <!--lien vers toutes les goats -->
      <div style = "margin-top: 30px">
        <%= link_to 'Browse cats', animals_path(species: 'Cat'), class: "btn-browse"%>
      </div>
    </div>
  </div>
</div>
