<div class="container-index">
  <div class="card-animal"  data-controller="highlight">
    <div class="card-animal-infos-title">
      <h2> Your Suggestions </h2 >
    </div>
    <% @animals.each do |animal| %>
      <%= link_to animal_path(animal) do %>
        <div class="card-animal-infos" id='animal_<%= animal.id %>'
        data-highlight-target="card"
        data-action="mouseenter->highlight#highlight"
        data-action="mouseleave->highlight#leave">
          <div class="photo-animal">
            <% if animal.photos.attached? %>
              <%= cl_image_tag animal.photos.first.key, height: 150, width: 150, crop: :fill %>
            <% end %>
          </div>
          <div class="animal-infos">
            <p class="name"><%= animal.name.capitalize %> </p>
            <p><%= animal.age %> years old </p>
            <p><%= animal.quality %> </p>
            <p class="price"><%= animal.price %> € /day </p>
            <div class="change">
              <% if policy(animal).edit? %>
                <%= link_to "Update", edit_animal_path(animal) %>
              <% end %>
              <% if policy(animal).destroy? %>
                <%= link_to "Delete", destroy_path(animal.id), method: :delete %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <div class="map" style="height: 400px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
