<div class="container">

  <div class="animal-main-show border-bottom 5px" >
    <div class="animal-show-title">
      <h2><%= @animal.name %>, 2 yo goat specialized in lawn maintenance </h2>
      <div class="d-flex justify-content-space-between">
        <div class="info d-flex me-5 col-6 mx-10">
          <div class="col">Species : <%= @animal.species %></div>
          <div class="col">Quality : <%= @animal.quality %></div>
          <div class="col">Price : €<%= @animal.price %>/ day</div>
          <div class="col">Address : <%= @animal.address %></div>
        </div>
        <div class="picto d-flex flex-row col-6 mx-10">
          <div class="col"><i class="far fa-heart"></i> Share</div>
          <div class="col"><i class="fas fa-download"></i> Save</div>
        </div>
      </div>
    </div>

    <div class="animal-show-images d-flex flex-row">
      <div class="main-image col-6 me-5">
        <%= cl_image_tag animal.photos.first.key, alt: "Kim", class:'main-img' %>
        <%#= cl_image_tag @animal.photos[0].key, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="4-images d-flex flex-row col-6">
        <div class="d-flex flex-column justify-content-between w-50 mx-3">
          <%= cl_image_tag animal.photos.[1].key, alt: "Kim", width: 200, class:'secondary-img' %>
          <%#= cl_image_tag @animal.photos[1].key, height: 300, width: 400, crop: :fill %>
          <%= cl_image_tag animal.photos.[2].key, alt: "Kim", width: 200, class:'secondary-img' %>
          <%#= cl_image_tag @animal.photos[2].key, height: 300, width: 400, crop: :fill %>
        </div>
        <div class="d-flex flex-column justify-content-between w-50 mx-3 ">
          <%= cl_image_tag animal.photos.[3].key, alt: "Kim", width: 200, class:'secondary-img' %>
          <%#= cl_image_tag @animal.photos[3].key, height: 300, width: 400, crop: :fill %>
          <%= cl_image_tag animal.photos.[4].key, alt: "Kim", width: 200, class:'secondary-img' %>
          <%#= cl_image_tag @animal.photos[4].key, height: 300, width: 400, crop: :fill %>
        </div>
      </div>
    </div>
  </div>

  <div class="show-details">
  </div>




  <%= link_to 'Back', animals_path %>

  <%= link_to 'book me', new_animal_reservation_path(@animal) %>

</div>
