<div class="container">

  <div class="border-bottom 5px" >
    <div class="animal-show-title">
      <h2><%= @animal.name %></h2>
      <div class="d-flex justify-content-between">
        <div class="info d-flex mx-10 text-center">
          <div class="col">Species : <%= @animal.species %></div>
          <div class="col">Quality : <%= @animal.quality %></div>
          <div class="col">Price : €<%= @animal.price %>/ day</div>
          <div class="col">Address : <%= @animal.address %></div>
        </div>
        <div class="picto d-flex justify-content-between mx-10 text-center">
          <div class="me-3"><i class="far fa-heart"></i> Share</div>
          <div><i class="fas fa-download"></i> Save</div>
        </div>
      </div>
    </div>

    <div class="animal-show-images d-flex flex-row">
      <% if @animal.photos.attached? %>
        <div class="main-image col-6 me-5">
          <%= cl_image_tag @animal.photos[0].key, alt: "Kim", class:'main-img' %>
        </div>
        <div class="4-images d-flex flex-row col-6">
          <div class="d-flex flex-column justify-content-between w-50 mx-3">
            <%= cl_image_tag @animal.photos[1].key, alt: "Kim", width: 200, class:'secondary-img' %>
            <%= cl_image_tag @animal.photos[2].key, alt: "Kim", width: 200, class:'secondary-img' %>
          </div>
          <div class="d-flex flex-column justify-content-between w-50 mx-3 ">
            <%= cl_image_tag @animal.photos[3].key, alt: "Kim", width: 200, class:'secondary-img' %>
            <%= cl_image_tag @animal.photos[4].key, alt: "Kim", width: 200, class:'secondary-img' %>
          </div>
        </div>
        <% end %>
    </div>
  </div>

  <div class="bottom-page d-flex">
    <div class="animal-description"><%= @animal.description %></div>

    <div class="reservation-form">
      <%= simple_form_for [@animal, @reservation] do |f|%>
        <div><%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker form-control"} %></div>
        <div><%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker form-control"} %></div>
        <div>Price:</div>
        <div><%= f.input :address %> </div>
        <div><%= f.submit %></div>
          <% end %>
    </div>
  </div>

  <%= link_to 'Back', animals_path %>

</div>
